{% macro resumeContent(content, downloadText) %}
{% if content -%}
    <div class="jf-section jf-resume jf-flex" id="resume">
        <div class="jf-resume-header jf-flex-header">
            {% if content.title -%}
                <h2 class="jf-title-caps">{{ content.title }}</h2>
                {% if content.file -%}
                    <h3 class="jf-resume-download">
                        <a href="{{ content.file }}" class="jf-resume-link">
                            {{ downloadText }}
                            <i class="fa fa-file-pdf" aria-hidden="true"></i>
                        </a>
                    </h3>
                {%-endif %}
            {%- endif %}
        </div>

        <div class="jf-resume-content jf-flex-content">
            {% if content.jobs.length -%}
                <ul class="jf-jobs-list">
                    {% for job in content.jobs -%}
                        {% set dates = '' %}
                        {% if job.date %}
                            {% set dates = ' (' + job.date + ')' %}
                        {% endif %}
                        <li class="jf-job">
                            {% if job.icon -%}
                                <i class="fas {{ job.icon }} jf-resume-icon" aria-hidden="true"></i>
                            {%- endif %}
                            <h3 class="jf-job-company">{{ job.company }}{{ dates }}</h3>
                            <h4 class="jf-job-title">{{ job.title }}</h4>
                            {% if job.description -%}
                            {{ job.description | markdown | safe }}
                            {%- endif %}
                        </li>
                    {%- endfor %}
                </ul>
            {%- endif %}
        </div>
    </div>
{%- endif %}
{% endmacro %}
