{% macro about(content, attributes, index) %}
{% set aboutId = "about" %}
{% if index > 1 %}
    {% set aboutId = "about-" + index  %}
{% endif %}
<div class="jf-section jf-markdown jf-about jf-flex" id="{{ aboutId }}">
    <div class="jf-about-header jf-flex-header">
        {% if content.title -%}
            <h2 class="jf-title-caps">{{ content.title }}</h2>
        {%- endif %}

        {% if content.image -%}
            {% set imgAlt = "Jen's portrait" %}
            {% if content.imageAlt %}
                {% set imgAlt = content.imgAlt %}
            {% endif %}
            <img src="{{ content.image }}" alt="{{ imgAlt }}" class="jf-portrait" />
        {%- endif %}
    </div>

    <div class="jf-about-content jf-flex-content">
        {% if content.text -%}
            {{ content.text | markdown | safe }}
        {%- endif %}

        {% if attributes.length -%}
            <span class="jf-accessible-text">I am a...</span>
            {% for attribute in attributes -%}
                <span class="jf-attribute">{{ attribute.name }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}
