.jf-about {
    border-top: 5px solid var(--highlight);
}

.jf-portrait {
    display: none;
}

.jf-attribute {
    background-color: var(--highlight);
    color: var(--highlight-text);
    display: block;
    font-size: 0.875rem;
    line-height: 1;
    padding: 0.375rem 0.5rem 0.375rem 2rem;
    margin-left: -2rem;
    margin-top: 1.5rem;
    width: 55%;

    &:nth-child(2n) {
        width: 69%;
    }

    &:last-child {
        width: 100%;
    }
}

@media screen and (min-width: 40.5rem) {
    .jf-portrait {
        border-radius: 16rem;
        display: block;
        margin: 0 0 0 auto;
        max-width: 16rem;
        overflow: hidden;
    }
}
