<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>{{ renderData.title }}</title>
    <meta name="description" content="The portfolio and resume of Jen Dudek, a graphic designer based out of Philadelphia, PA">

    <base href="/portfolio/">

    {# <link rel="apple-touch-icon" sizes="180x180" href="/assets/uploads/favicon/apple-touch-icon.png"> #}
    {# <link rel="icon" type="image/png" sizes="32x32" href="/assets/uploads/favicon/favicon-32x32.png"> #}
    {# <link rel="icon" type="image/png" sizes="16x16" href="/assets/uploads/favicon/favicon-16x16.png"> #}
    {# <link rel="manifest" href="/assets/uploads/favicon/site.webmanifest"> #}

    <meta property="og:title" content="Jen Dudek">
    <meta property="og:description" content="The portfolio and resume of Jen Dudek, a graphic designer based out of Philadelphia, PA">
    {# <meta property="og:image" content="/assets/uploads/tbd.jpg"> #}
    <meta property="og:url" content="https://www.jenfranko.com">
    <meta property="og:site_name" content="Jen Dudek">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" type="text/css" href="/assets/styles/jenfranko.css">
</head>
<body class="jf">
    {% block template %}
    {% endblock %}
</body>
</html>
