{% extends "layouts/base.njk" %}

{% block template %}
    <main class="jf-main">
        <section class="jf-container">
            {% block content %}
            {% endblock %}
        </section>
    </main>
{% endblock %}
