.jf-greeting {
    background-color: var(--alt-body-bg);
    color: var(--alt-body-text);
    display: block;
    min-height: 100vh;
    padding: 1.5rem 1rem;
    position: relative;
    width: 100%;
    z-index: 10;

    a {
        color: var(--link);

        &:hover,
        &:focus {
            color: var(--link-hover);
        }
    }
}

.jf-greeting-content {
    left: 50%;
    max-width: 37.5rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 10;

    h1 {
        font-size: 1.75rem;
    }

    .jf-name {
        display: block;
        font-size: 4rem;
        text-transform: uppercase;
    }

    .jf-social-link {
        color: var(--alt-body-text);

        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, 0.75);
            border-color: var(--alt-highlight);
            color: var(--alt-highlight);
            font-size: 2.25rem;
        }
    }
}
