{% macro greeting(content, backgrounds, social) %}
<div class="jf-greeting">
    <div class="jf-greeting-content">
        {{ content | markdown | safe }}

        {% if social -%}
        <ul class="jf-social-list">
            {% for platform in social -%}
            {% set faClass = "fa" %}
            {% if platform.brand %}
                {% set faClass = "fab" %}
            {% endif %}
            <li class="jf-social-item">
                <a href="{{ platform.url }}" class="jf-social-link" aria-label="{{ platform.text }}" target="_blank" rel="noopener noreferrer">
                    <i class="{{ faClass }} {{ platform.image }} jf-social-icon" aria-hidden="true"></i>
                </a>
            </li>
            {%- endfor %}
        </ul>
        {%- endif %}
    </div>

    <div class="jf-section-bg">
    {% for bg in backgrounds -%}
        <img src="{{ bg.image }}" alt="" class="jf-section-bg-img" />
    {%- endfor %}
    </div>
</div>
{% endmacro %}
