.jf-greeting {
    background-color: var(--alt-body-bg);
    color: var(--alt-body-text);
    display: block;
    min-height: 75vh;
    padding: 1.5rem 1rem;
    position: relative;
    width: 100%;
    z-index: 10;

    a {
        color: var(--link);

        &:hover,
        &:focus {
            color: var(--link-hover);
        }
    }
}

.jf-greeting-content {
    left: 50%;
    max-width: 37.5rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 10;

    h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .jf-name {
        display: block;
        font-size: 2.25rem;
        line-height: 2.5rem;
        text-transform: uppercase;
    }

    .jf-social-link {
        color: var(--alt-body-text);

        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, 0.75);
            border-color: var(--alt-highlight);
            color: var(--alt-highlight);
            font-size: 2.25rem;
        }
    }
}

@media screen and (min-width: 48rem) {
    .jf-greeting {
        min-height: 75vh;
    }

    .jf-greeting-content {
        h1 {
            font-size: 1.75rem;
        }

        .jf-name {
            font-size: 4rem;
            line-height: 4.2rem;
        }
    }
}

@media screen and (min-width: 52.5rem) {
    .jf-greeting {
        min-height: calc(100vh - 5px);
    }
}
