---
renderData:
  title: "Jen Dudek, Graphic Designer"
pagination:
    data: collections.home
    alias: home
    size: 1
permalink: "/"
---

{% extends "layouts/main.njk" %}
{% from "components/about/about.njk" import about as about %}
{% from "components/greeting/greeting.njk" import greeting as greeting %}
{% from "components/resume/resume.njk" import resumeContent as resumeContent %}
{% from "components/workSection/workSection.njk" import workSection as workSection %}

{% block content %}
    {% if home.data.greeting -%}
        {{ greeting(
            home.data.greeting,
            home.data.greeting_bg,
            collections.info[0].data.social
        ) }}
    {%- endif %}

    {% for section in home.data.about -%}
        {{ about(
            section,
            home.data.attributes,
            loop.index
        ) }}
    {%- endfor %}

    {% set resume = collections.resume[0].data %}
    {% set downloadText = collections.info[0].data.download %}
    {{ resumeContent(resume) }}

    {{ collections.work | sortByDate }}<br />
    {% set lorem = collections.work[0].data.date %}
    {% set ipsum = collections.work[1].data.date %}
    {{ lorem }}<br />
    {{ ipsum }}<br />

    {% set workSamples = collections.work | sortByDate | reverse %}
    {% set dolor = workSamples[0].data.date %}
    {% set sit = workSamples[1].data.date %}
    {{ dolor }}<br />
    {{ sit }}<br />
    {% set workTitle = collections.info[0].data.work %}
    {{ workSection(
        workSamples,
        workTitle
    ) }}
{% endblock %}
