---
renderData:
  title: "Jen Dudek, Graphic Designer"
pagination:
    data: collections.home
    alias: home
    size: 1
permalink: "/"
---

{% extends "layouts/main.njk" %}
{% from "components/about/about.njk" import about as about %}
{% from "components/greeting/greeting.njk" import greeting as greeting %}
{% from "components/resume/resume.njk" import resumeContent as resumeContent %}
{% from "components/workSection/workSection.njk" import workSection as workSection %}

{% block content %}
    {% if home.data.greeting -%}
        {{ greeting(
            home.data.greeting,
            [home.data.greeting_bg[0]],
            collections.info[0].data.social
        ) }}
    {%- endif %}

    {% for section in home.data.about -%}
        {{ about(
            section,
            home.data.attributes,
            loop.index
        ) }}
    {%- endfor %}

    {% set resume = collections.resume[0].data %}
    {% set downloadText = collections.info[0].data.download %}
    {{ resumeContent(
        resume,
        downloadText
    ) }}

    {% set workSamples = collections.work | sortByDate | reverse %}
    {% set workTitle = collections.info[0].data.work %}
    {% set workFile = collections.info[0].data.work_file %}
    {% set workDownloadText = collections.info[0].data.work_download_plural %}
    {{ workSection(
        workSamples,
        workTitle,
        workFile,
        workDownloadText
    ) }}
{% endblock %}
