.jf-footer {
    background-color: var(--highlight);
    color: var(--highlight-text);
    min-height: 5rem;
    position: relative;
    z-index: 50;
}

.jf-footer-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--heading-font-stack);
    justify-content: space-between;
    margin: 0 auto;
    max-width: 60rem;
    min-height: 5rem;
    padding: 1rem;
    width: 100%;
}

.jf-footer-title {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0 auto 1rem;
    padding: 0;
    text-align: center;
    width: 100%;
}

.jf-footer-social {
    display: flex;
    flex-grow: 0;
    margin: 0 auto;
}

.jf-footer-social-item {
    margin: 0 0.5rem;
}

.jf-footer-social-link {
    background-color: rgba($dark-green, 0.2);
    color: var(--highlight-text);
    display: block;
    height: 100%;
    position: relative;
    transition: 0.3s ease background-color, 0.3s ease color;

    &:hover,
    &:focus {
        background-color: rgba($dark-green, 1);
        color: $off-white;
    }
}

@media screen and (min-width: 48rem) {
    .jf-footer-content {
        flex-direction: row;
    }

    .jf-footer-title {
        margin: 0 auto 0 0;
        text-align: left;
    }

    .jf-footer-social {
        margin: 0 0 0 auto;
    }
}
