{% macro workSection(samples, title, file, fileText) %}
{% if samples -%}
    <div class="jf-section jf-flex" id="work">
        <div class="jf-flex-header">
            {% if title -%}
                <h2 class="jf-title-caps">{{ title }}</h2>
            {%- endif %}
            {% if file -%}
                <h3 class="jf-resume-download">
                    <a href="{{ file }}" class="jf-resume-link" target="_blank" rel="noopener noreferrer">
                        {{ fileText }}
                        <i class="fa fa-file-pdf" aria-hidden="true"></i>
                    </a>
                </h3>
            {%-endif %}
        </div>

        <div class="jf-flex-content">
            <ul class="jf-work-list" role="list">
                {% for sample in samples -%}
                    {% set imgAlt = sample.data.title %}
                    {% if sample.data.description %}
                        {% set imgAlt = sample.data.description %}
                    {% endif %}
                    <li class="jf-work-sample" role="listitem">
                        <h3 class="jf-work-text">
                            <a href="/work/{{ sample.data.title | slug }}" class="jf-work-link"><span>{{ sample.data.title }}</span></a>
                        </h3>
                        <img src="{{ sample.data.link }}" alt="{{ imgAlt }}" class="jf-work-img" />
                    </li>
                {%- endfor %}
            </ul>
        </div>
    </div>
{%- endif %}
{% endmacro %}
