.jf-work-hero-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.jf-image-hero {
    display: block;
    max-width: none;
    object-fit: cover;
    width: auto;
}

.jf-work-project-description {
    margin: 0 auto;
    max-width: 60rem;
    padding: 2rem 2rem 2rem 6rem;
    width: 100%;
}

.jf-work-content {
    font-size: 0;
    margin: 0 auto;
    max-width: 92rem;
    padding: 2.5rem 1rem 1rem 5rem;
    position: relative;
}

.jf-sample-container {
    border-top: 1px solid var(--highlight);
    font-size: 1rem;
    margin-top: 2rem;
    padding-top: 2rem;

    &:first-child:not(.jf-sample-split) {
        border: none;
        margin-top: 0;
        padding-top: 0;
    }
}

.jf-sample-full {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.jf-image-full {
    display: block;
    max-width: none;
    object-fit: cover;
    width: auto;
}

.jf-work-description {
    font-size: 1rem;
    margin: 0 auto;
    max-width: 60rem;
    padding: 2rem 2rem 0;
    text-align: center;
    width: 100%;
}

.jf-work-nav {
    align-items: center;
    border-top: 1px solid var(--highlight);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: space-between;
    margin: 2rem auto 0;
    max-width: 60rem;
    padding: 2rem 1rem 0;
    width: 100%;
}

.jf-work-nav-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 26rem;
    width: 100%;
}

.jf-work-nav-link {
    display: block;
    width: 100%;
}

.jf-work-next {
    text-align: right;
}

.jf-work-nav-img {
    border-radius: 5rem;
    display: block;
    margin: 0 1rem;
    width: 5rem;
}

@media screen and (min-width: 40rem) {
    .jf-work-nav {
        flex-direction: row;
    }
}

@media screen and (min-width: 60rem) {
    .jf-work-project-description {
        padding-right: 5rem;
    }

    .jf-work-content {
        min-height: 100vh;
        padding-right: 5rem;
    }

    .jf-sample-split {
        display: inline-block;
        vertical-align: top;
        width: 47.5%;
    }

    .jf-sample-split-left {
        margin-left: 0;
    }

    .jf-sample-split-right {
        margin-left: 4.58%;
    }
}
