{% macro workHeader(title, file, downloadText) %}
<header class="jf-work-header">
    <h1 class="jf-work-title">{{ title }}</h1>

    <p class="jf-work-back">
        <a href="/#work" class="jf-header-link jf-back" aria-label="Back to home Page">
            <i aria-hidden="true" class="jf-link-icon fas fa-arrow-left"></i>
        </a>
    </p>

    {% if file -%}
        <p class="jf-work-download">
            <a href="{{ file }}" class="jf-header-link jf-work-dl-link" aria-label="{{ downloadText }}" target="_blank" rel="noopener noreferrer">
                <i class="jf-link-icon fa fa-file-pdf" aria-hidden="true"></i>
            </a>
        </p>
    {%-endif %}
</header>
{% endmacro %}
